//Icons
@import "../fonts/sunweb-icons/scss/sunweb-icons";
//Fonts
@import "../fonts/forsd-folly/fords-folly";
@import "../fonts/pacifico/pacifico";
@import "../fonts/sansa-pro/sansa-pro";
$arial: Arial, sans-serif;
$line-height:30px;
//Colors
$white: #ffffff;
$mustard: #f99500;
$yellow: #fbeb2e;
$red: #ed1c2e;
$light-blue: #20a0de;
$light-gray:#eeeeee;
$dark-gray: #333333;
//Wrappers
$wrapper: 1254px;
$wrapper-content:960px;
$wrapper-content-footer-mobile:287px;
//Breakpoints
$small-device: 350px;
$medium-device:480px;
$medium-device-footer:780px;
$large-device-footer:1320px;
$large-device:960px;




