// Sansa Pro Semibold (served as regular weight)
// --------------------------------------------------

$path-fonts3: 'fonts/sansa-pro/' !default;

// Import the font file as regular weight
// --------------------------------------------------

@font-face {
  font-family: 'Sansa Pro';
  font-style: normal;
  font-weight: 400;
  src: url('#{$path-fonts3}sansa-pro.eot');
  src: url('#{$path-fonts3}sansa-pro.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts3}sansa-pro.woff') format('woff'),
  url('#{$path-fonts3}sansa-pro.ttf')  format('truetype'),
  url('#{$path-fonts3}sansa-pro.svg#sansa-pro') format('svg');
}

// Set the font variable
// --------------------------------------------------
$font-sansa-pro: 'Sansa Pro', Verdana, Arial, sans-serif !default;

// Set the font selector
// --------------------------------------------------
.font-sansa-pro {
  font-family: $font-sansa-pro;
}
